@model QLBQA.Models.Customer

@{
    ViewBag.Title = "Xóa khách hàng";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}



<h3>Bạn có chắc chắn muốn xóa khách hàng này?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            Họ tên
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            Ngày sinh
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Birthday)
        </dd>

        <dt>
            Ảnh đại diện
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Avatar)
        </dd>

        <dt>
           Địa chỉ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            Số điện thoại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        
        <dt>
           Ngày tạo tài khoản
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>


        <dt>
            Đăng nhập lần cuối
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastLogin)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input class="btn btn-primary m-r-5" type="submit" value="Xóa" />
    <a class="btn btn-danger m-r-5" href="@Url.Action("Index", "Customers")" title="Back">Hủy</a>
</div>
    }
</div>
