@model PagedList.IPagedList<QLBQA.Models.Customer>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Danh sách khách hàng";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<head>
    <title>Danh sách khách hàng</title>
    <!-- Bao gồm thư viện jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bao gồm thư viện jQuery Unobtrusive Ajax -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js"></script>
</head>

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a href="@Url.Action("Index", "Home", new { area = "Admin" })" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <span class="breadcrumb-item active">Quản lý khách hàng</span>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">
        @using (Html.BeginForm())
        {
            <div style="display: flex; /* width: 1500px; */ justify-content: space-between; align-items: center; ">
                <a class="btn btn-primary" href="@Url.Action("Index", "Customers")" title="Back">Tất cả</a>
                <p style="display: inline-block; float: right;">
                    @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { placeholder = "Nhập tên...", style = "padding: 5px;" })
                    <input class="btn btn-primary" type="submit" value="Tìm">
                </p>
            </div>





        }
        <div class="row m-b-30">
            <div class="col-lg-8">
                <div class="d-md-flex">
                    <div class="m-b-10 m-r-15">
                        @*<select id="roleSelect" class="custom-select" style="min-width: 180px;">
                            <option value="">Tất cả</option>
                            @foreach (var role in ViewBag.Roles)
                            {
                                <option value="@role.RoleID">@role.RoleName</option>
                            }
                        </select>*@



                    </div>

                </div>
            </div>

        </div>
        @* Thông bao lỗi *@
        @if (TempData["ErrMsg"] != null)
        {
            ViewBag.ErrMsg = TempData["ErrMsg"].ToString();
            TempData["ErrMsg"] = null;
            <div id="alertMessage" class="alert alert-danger" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <i class="anticon anticon-warning"></i>
                @ViewBag.ErrMsg
            </div>
        }
        <style>
            #alertMessage {
                transition: opacity 1s ease-in-out;
            }
        </style>
        <script>
            var disappearingDiv = document.getElementById("alertMessage");
            function makeDisappear() {
                disappearingDiv.style.opacity = 0;
            }
            setTimeout(makeDisappear, 5000);
        </script>
        @* End thông báo lỗi *@
        <div id="accountTable" class="table-responsive">
            <table class="table table-hover e-commerce-table">
                <thead>
                    <tr>

                        <th>ID</th>
                        <th>Họ tên</th>
                        <th>Email</th>
                        <th>Điện thoại</th>
                        @*<th>Lần đăng nhập cuối</th>*@
                        <th>Ngày sinh</th>
                        <th>Trạng thái</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @item.CustomerID
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <img class="img-fluid rounded" src="assets/images/others/thumb-9.jpg" style="max-width: 60px" alt="">
                                        <h6 class="m-b-0 m-l-10">@item.FullName</h6>
                                    </div>
                                </td>
                                <td>@item.Email</td>
                                <td>@item.Phone</td>
                                @*<td>@item.LastLogin</td>*@
                                <td>@item.Birthday</td>
                                <td>
                                    @if (item.Active)
                                    {
                                        <div class="d-flex align-items-center">
                                            <div class="badge badge-success badge-dot m-r-10"></div>
                                            <div>Active</div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="d-flex align-items-center">
                                            <div class="badge badge-danger badge-dot m-r-10"></div>
                                            <div>Block</div>
                                        </div>
                                    }

                                </td>
                                <td>
                                    <a class="btn btn-primary btn-tone m-r-5" href="@Url.Action("Details", "Customers", new { id = item.CustomerID })" title="Details">Chi tiết</a>
                                    <a class="btn btn-warning btn-tone m-r-5" href="@Url.Action("Edit", "Customers", new { id = item.CustomerID })" title="Edit">Sửa</a>
                                    <a class="btn btn-danger btn-tone m-r-5" href="@Url.Action("Delete", "Customers", new { id = item.CustomerID })" title="Delete">Xóa</a>
                                </td>
                            </tr>
                        }
                    }


                </tbody>
            </table>
        </div>
    </div>
</div>



<script>
   $(document).ready(function () {
    $('#roleSelect').change(function () {
        var roleId = $(this).val();
        $.ajax({
            url: '@Url.Action("SelectFollowingRole", "Accounts")',
            type: 'GET',
            data: { id: roleId },
            success: function (data) {
                $('#accountTable tbody').html(data);
            },
            error: function () {
                alert('Đã xảy ra lỗi, vui lòng thử lại sau.');
            }
        });
    });
});

</script> 
<div id="pages">
    <div id="pages">
        @Html.PagedListPager(Model,
            page => Url.Action("Index", "Customers", new { page, currentFilter = ViewBag.CurrentFilter }),
            new PagedListRenderOptions
                {
                    DisplayLinkToFirstPage = PagedListDisplayMode.Always,
                DisplayLinkToLastPage = PagedListDisplayMode.Always,
                MaximumPageNumbersToDisplay = 5,
                EllipsesFormat = "&#8230;",
                LinkToPreviousPageFormat = "<",
                LinkToNextPageFormat = ">",
                LinkToFirstPageFormat = "<<",
                LinkToLastPageFormat = ">>",
            })
    </div>

</div>
<style>
    #pages {
        display: flex;
        justify-content: center;
    }
</style>