@model PagedList.IPagedList<QLBQA.Models.Post>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Tin tức";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title>Tin thời trang</title>
</head>

<main class="main-content">
    <div class="breadcrumb-area breadcrumb-height" data-bg-image="~/assets/User_assets/images/breadcrumb/bg/1-1-1920x373.jpg">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-lg-12">
                    <div class="breadcrumb-item">
                        <h2 class="breadcrumb-heading">TIN THỜI TRANG</h2>
                        <ul>
                            <li>
                                <a href="/">Home <i class="pe-7s-angle-right"></i></a>
                            </li>
                            <li>Tin tức</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="blog-area blog-column-2 section-space-y-axis-100">
        <div class="container">
            <div class="row">
                @foreach (var item in Model.Where(p => p.Pulished == true))
                {
                    <div class="col-md-6">
                        <div style=" margin-bottom: 28px;" class="blog-item">
                            <div class="blog-img img-zoom-effect">
                                <a href="@Url.Action("Details", "Blog", new { id = item.PostID })">
                                    <img title="@item.Title" class="img-full" src="~/Content/images/thumb_post_@item.Thumb" alt="Blog Image">
                                </a>
                            </div>
                            <div class="blog-content">
                                <div class="blog-meta text-dim-gray pb-3">
                                    <ul>
                                        <li class="date"><i class="fa fa-calendar-o me-2"></i>@item.CreateDate</li>
                                        <li>
                                            @item.Author
                                        </li>
                                    </ul>
                                </div>
                                <h5 class="title mb-4">
                                    <a title="@item.Title" href="@Url.Action("Details", "Blog", new { id = item.PostID })">
                                        <span class="clamp-2">@item.Title</span>
                                    </a>
                                </h5>


                                @*<div style=" overflow: hidden;">
                                        <p class="short-desc mb-5"><a style="font-size:larger" class="short-desc" href="blog-detail-left-sidebar.html">@item.Title</a></p>
                                    </div>*@
                                <div style=" overflow: hidden;" class="title mb-4">
                                    <p class="short-desc mb-5">@item.SContents</p>
                                </div>


                                <div class="button-wrap">
                                    <a class="btn btn-custom-size lg-size btn-dark rounded-0" href="@Url.Action("Details", "Blog", new { id = item.PostID })">Xem thêm</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</main>
<div id="pages">
    <div id="pages">
        @Html.PagedListPager(Model,
            page => Url.Action("Index", new { page }),
            new PagedListRenderOptions
                {
                    DisplayLinkToFirstPage = PagedListDisplayMode.Always,
                DisplayLinkToLastPage = PagedListDisplayMode.Always, 
                MaximumPageNumbersToDisplay = 5, 
                EllipsesFormat = "&#8230;", 
                LinkToPreviousPageFormat = "<",
                LinkToNextPageFormat = ">",
                LinkToFirstPageFormat = "<<", 
                LinkToLastPageFormat = ">>", 
            })
    </div>

</div>

<style>
    .short-desc {
        display: -webkit-box;
        -webkit-line-clamp: 2; /* Số dòng tối đa */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2; /* Số dòng tối đa */
        /* Cố định chiều cao của thẻ */
        height: calc(2 * 1.8em); /* 1.2em là chiều cao của mỗi dòng (có thể điều chỉnh) */
    }

    .clamp-2 {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2; /* Số dòng tối đa */
        /* Cố định chiều cao của thẻ */
        height: calc(2 * 1.4em); /* 1.2em là chiều cao của mỗi dòng (có thể điều chỉnh) */
    }
</style>

<style>
    .active a {
        background-color: rgb(186, 195, 78) !important;
    }
    #pages {
        display: flex;
        justify-content: center;
    }
        #pages ul li a {
            padding: 16px 20px;
        }

    .breadcrumb-height {
        height: 260px;
    }
</style>
