@model List<QLBQA.Models.Product>

  @foreach (var item in Model)
                        {
<tr>
    <td>
        @item.ProductID
    </td>
    <td>
        <div class="d-flex align-items-center">
            <img class="img-fluid rounded" src="assets/images/others/thumb-9.jpg" style="max-width: 60px" alt="">
            <h6 class="m-b-0 m-l-10">@item.ProductName</h6>
        </div>
    </td>
    <td>@item.Category.CatName</td>
    <td>@item.Price</td>
    @*<td>@item.LastLogin</td>*@
    <td>@item.UnitsInStock</td>

    <td><img style="width:100px" src="~/Content/images/thumb_@item.Thumb" alt="Thumb"></td>


    <td>
        <a class="btn btn-primary btn-tone m-r-5" href="@Url.Action("Details", "Products", new { id = item.ProductID })" title="Details">Chi tiết</a>
        <a class="btn btn-warning btn-tone m-r-5" href="@Url.Action("Edit", "Products", new { id = item.ProductID })" title="Edit">Sửa</a>
        <a class="btn btn-danger btn-tone m-r-5" href="@Url.Action("Delete", "Products", new { id = item.ProductID })" title="Delete">Xóa</a>
    </td>
</tr>
                        }
                        }