@model QLBQA.Models.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="form-group">
    <div class="col-md-10">
        <h2>Chi tiết sản phẩm</h2>
    </div>
</div>


<div>

    <hr />
    <dl class="dl-horizontal">
        <div class="row">

            <div class="form-group col-6">
                <p class="control-label col-md-3"> Danh mục</p>
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.Category.CatName)
                </div>
            </div>
            <div class="form-group col-6">
                <p class="control-label col-md-3">Tên sản phẩm</p>
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.ProductName)
                </div>
            </div>
        </div>
        <div class="row">

            <div class="form-group col-6">
                <p class="control-label col-md-3">Mô tả ngắn gọn</p>
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.ShortDesc)
                </div>
            </div>
            <div class="form-group col-6">
                <p class="control-label col-md-3">Mô tả chi tiết</p>
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Description, new { @class = "form-control", style = "height: 100px;", @readonly = "readonly" })
                </div>
            </div>
        </div>
        <div class="row">

            <div class="form-group col-6">
                <p class="control-label col-md-3">Giá</p>
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.Price)
                </div>
            </div>
            <div class="form-group col-6">
                <p class="control-label col-md-3">Giá giảm</p>
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.Discount)
                </div>
            </div>
        </div>


        <div class="row">

            <div class="form-group col-6">
                <p class="control-label col-md-3">Tồn kho</p>
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.UnitsInStock)
                </div>
            </div>
            <div class="form-group col-6">
                <p class="control-label col-md-3">Thumb</p>
                <div class="col-md-10">
                    <img class="img-rounded" alt="thumb" width="100" src="~/Content/images/thumb_@Model.Thumb" />
                </div>
            </div>
        </div>
        <div class="row">

            <div class="form-group col-6">
                <p class="control-label col-md-3">Ngày tạo</p>
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.DateCreated)

                </div>
            </div>
            <div class="form-group col-6">
                <p class="control-label col-md-3">Ngày chỉnh sửa</p>
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.DateModified)
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                @if (Model.Active)
                {
                    <div class="d-flex align-items-center">
                        <div class="badge badge-success badge-dot m-r-10"></div>
                        <div>Active</div>
                    </div>
                }
                else
                {
                    <div class="d-flex align-items-center">
                        <div class="badge badge-danger badge-dot m-r-10"></div>
                        <div>Block</div>
                    </div>
                }
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                @if (!Model.BestSellers)
                {
                    <div class="checkbox">
                        <input id="" type="checkbox" disabled="">
                        <label for="">Best seller</label>
                    </div>
                }
                else
                {
                    <div class="checkbox">
                        <input id="" type="checkbox" checked="" disabled="">
                        <label for="">Best seller</label>
                    </div>
                }
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                @if (!Model.HomeFlag)
                {
                    <div class="checkbox">
                        <input id="" type="checkbox" disabled="">
                        <label for="">Home flag</label>
                    </div>
                }
                else
                {
                    <div class="checkbox">
                        <input id="" type="checkbox" checked="" disabled="">
                        <label for="">Home flag</label>
                    </div>
                }
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
        <dt>
            Tags
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tags)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Alias)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alias)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MetaDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MetaDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MetaKey)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MetaKey)
        </dd>
</div>
        </div>




    </dl>
</div>
<div class="form-group">
    <div class="col-md-10">
        <a class="btn btn-warning m-r-5" href="@Url.Action("Edit", "Products", new { id = Model.ProductID })" title="Edit">Sửa</a>
        <a class="btn btn-info m-r-5" href="@Url.Action("Index", "Products")" title="Back">Trở về</a>
    </div>
</div>
